<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exception - Library</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="text-center mt-lg-5" th:text="${message}"></h1>
<script th:src="@{../../js/jquery.min.js}"></script>
<script th:src="@{../../js/bootstrap.min.js}"></script>
</body>
</html>