<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New customer - Furama resort</title>
    <link rel="icon" th:href="@{../../image/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../../css/css.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<div th:replace="~{/fragments/layout :: header}"></div>
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<div class="container-fluid mt-3 mb-3">
    <form th:action="@{/customer/edit}" th:method="post" th:object="${customer}">
        <input type="hidden" name="idOriginal" th:value="${idOriginal}">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" th:field="*{id}">
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red"></span>
                <span th:text="${duplicateId}" style="color: red"></span>
            </div>
            <div class="form-group col-md-5">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
            </div>
            <div class="form-group col-md-2">
                <label>Gender</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{gender}" id="male" value="1" >
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{gender}" id="female" value="0">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="dayOfBirth">Day of birth</label>
                <input type="date" class="form-control" id="dayOfBirth" th:field="*{dateOfBirth}">
                <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color: red"></span>
            </div>
            <div class="form-group col-md-9">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="1234 Main St">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idCard">ID Card</label>
                <input type="text" class="form-control" id="idCard" th:field="*{idCard}" placeholder="XXXXXXXXX">
                <span th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}" style="color: red"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="phoneNumber">Phone number</label>
                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="XXX">
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="XXX@xxx.xxx">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="type">Type</label>
                <select th:field="*{customerType}" id="type" class="form-control" required>
                    <option value="">Choose...</option>
                    <option th:each="customerType : ${listCustomerType}" th:value="${customerType.id}" th:text="${customerType.name}"></option>
                </select>
            </div>
        </div>
        <div class="d-flex mt-4">
            <a th:href="@{/customer}" class="btn btn-secondary ml-auto mr-1">Back</a>
            <button type="submit" class="btn btn-primary ml-1 mr-auto">Update</button>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/layout :: footer}"></footer>
<div th:replace="~{fragments/layout :: scrollToTop}"></div>
<script th:src="@{../../js/jquery.min.js}"></script>
<script th:src="@{../../js/popper.min.js}"></script>
<script th:src="@{../../js/bootstrap.min.js}"></script>
<script th:src="@{../../js/scroll-to-top.js}"></script>
</body>
</html>