<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Cookie</title>
</head>
<body>
<h3 style="text-align: center">Login</h3>
<div style="display: flex">
    <form th:action="@{/login}" th:method="post" th:object="${user}" style="margin: 30px auto 0 auto">
        <table>
            <tr>
                <td>Email: </td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="display: flex">
                        <input type="submit" th:value="login" style="margin-left: auto; margin-right: auto">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>